<h1>Paths</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Organize</th>
      <th>Backup</th>
      <th>Use as backup</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @paths.each do |path| %>
      <tr>
        <td><%= path.location %></td>
        <td><%= path.organize %></td>
        <td><%= path.backup %></td>
        <td><%= path.use_as_backup %></td>
        <td><%= link_to 'Scan', path_scan_path(path) %></td>
        <td><%= link_to 'Show', path %></td>
        <td><%= link_to 'Edit', edit_path_path(path) %></td>
        <td><%= link_to 'Destroy', path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Path', new_path_path %>
